html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#instructions,#unityContainer {
    border: 1px solid #aaaaaa !important;
    float: left;
}

/* Instructions styling */
#instructions {
    width: 250px;
    margin: 10px 5px 10px 10px;
    padding: 5px;
    text-align: justify;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
}

#instructions h2, #instructions h3 {
    text-align: center;
}

#instructions img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#instructions ul {
    margin-left: -20px;
}

#instructions dl {
    margin: 0;
    padding: 0;
}

#instructions dl dt {
    margin: 0;
	padding: 0;
	font-weight: bold;
}

#instructions dl dd {
    margin: 0 0 1em 0;
	padding: 0;
}

/* Player styling */
#unityContainer {
    position: fixed !important;
    width: calc(100% - 295px) !important;
    height: calc(100% - 25px) !important;
    margin-top: 10px !important;
    margin-left: 285px !important;
    background-color: #ffffff;
}